

.video-cards{
        display: grid;
        padding:80px 0px 50px 20px;
        grid-template-columns: repeat(5,1fr);
       gap: 50px; 
       width:90%;
       margin-left: 50px;  
}
.video-card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);; 
    transition: transform 0.3s ease-in-out ;
   
}
.video-card:hover{
    transform:scale(1.1);
}

.video-card img{
    width:100%;
}
#searchInput{
    display: block;
    margin: 20px auto;   
    width: 15%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 17px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);t
    
}

    #searchInput::placeholder{
        text-align: center; 
    }

#no-content{
    display: none;
    color: red;
    font-weight: bold;
   text-align: center;
}
p{
    font-weight: bold;
    text-align: center;
}
h2{
    text-align: center;
    color:#006600;
}

/* for mobile friendly */c

@media(max-width:768px){
    .video-cards{
        display:grid;
        grid-template-column:1fr
         padding:15px
         gap:15px;
    .video-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    }
    h2{
        white-space:nowrap;
        overflow: hidden;
        text overflow:ellipsis

    }
    .video-card img{
        object-fit: cover;

    }
    p{
        overflow:hidden ;
    }


    #searchInput{
        width:100%;
        font-size: 14px;
        max-width: 300px;
        padding: 8px 12px;
    
    }
}
